apiVersion: v1
kind: Service
metadata:
  name: nodejs-service
spec:
  selector:
    app: nodejs
  ports:
    - port: 3000        # البورت اللي هيتكلم عليه أي Pod داخل الكلاستر
      targetPort: 3000  # نفس البورت اللي Node.js شغال عليه جوه البود
  type: ClusterIP

