---
- name: Install Docker dependencies
  apt:
    name: "{{ item }}"
    state: present
    update_cache: no
  loop:
    - apt-transport-https
    - ca-certificates
    - curl
    - software-properties-common

- name: Add Docker GPG key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker repository
  apt_repository:
    repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu focal stable
    state: present

- name: Install Docker
  apt:
    name: docker-ce
    state: present
    update_cache: no 

- name: Ensure Docker is started and enabled
  service:
    name: docker
    state: started
    enabled: yes


